<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <category label="32001">
		<setting id="guide" label="Show What's on Now:" type="bool" default="false"/>
		<setting id="RTENewsNowpreferredstream" label="RTE News Now Preferred Stream Source:" type="select" default="AerTV.ie" values="AerTV.ie|Perma Link" />
		<setting id="TG4preferredstream" label="TG4 Preferred Stream Source:" type="select" default="AerTV.ie" values="AerTV.ie|TG4.ie|Perma Link" />
		<setting id="TV3preferredstream" label="TV3 Preferred Stream Source:" type="select" default="AerTV.ie" values="AerTV.ie|TV3.ie|Perma Link" />
		<setting id="ThreeEpreferredstream" label="3e Preferred Stream Source:" type="select" default="AerTV.ie" values="AerTV.ie|TV3.ie|Perma Link" />
		<setting id="UTVpreferredstream" label="UTV Preferred Stream Source:" type="select" default="Perma Link" values="Perma Link|ITV.com|UTV.ie" />
		<setting id="be3preferredstream" label="be3 Preferred Stream Source:" type="select" default="Perma Link" values="TV3.ie|Perma Link" />
		<setting id="quality" label="AerTV Stream Quality:" type="select" default="HD" values="SD|HD" />
		<setting label="AerTV (Premium) Login Details:" type="lsep"/>
		<setting id="email" label="Email:" type="text" default="" />
		<setting id="password" label="Password:" type="text" default="" option="hidden" enable="!eq(-1,)" />
		</category>
</settings>